body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.display {
    text-align: end;
    height: 20px;
}

.buttons {
    display: flex;
}

.operations {
    display: flex;
    flex-direction: column;
}
